-- sqlplus /nolog @setup_database
CONNECT / AS SYSDBA;
ALTER SESSION SET CONTAINER=ORCLPDB1;

CREATE USER <<USERNAME>> IDENTIFIED BY <<PASSWORD>> DEFAULT COLLATION BINARY_CI;
GRANT DBA to <<USERNAME>>;
EXIT;
